Source: qt6-qpa-hwcomposer-plugin
Section: libs
Maintainer: Erik Inkinen <erik.inkinen@gmail.com>
Priority: optional
Build-Depends: pkg-kde-tools,
               qt6-base-dev (>= 6.4.2-1+git~),
               qt6-base-private-dev (>= 6.4.2-1+git~),
               qt6-wayland,
               qt6-wayland-dev,
               qt6-wayland-private-dev,
               qt6-declarative-dev (>= 6.4.2-1+git~),
               qt6-declarative-private-dev (>= 6.4.2-1+git~),
               libqt6quick6,
               libqt6gui6,
               android-headers,
               libhybris-dev,
               pkg-config,
               libudev-dev,
               libglib2.0-dev,
               libmtdev-dev,
               libwayland-server0,
               libwayland-dev,
               cmake
Standards-Version: 4.5.1

Package: qt6-qpa-hwcomposer-plugin
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: This package contains a Qt 6 QPA plugin using libhybris' Droid
 hwcomposer for composing content onto the screen.